urllib3==1.26.9
setuptools
six==1.16.0
sqlalchemy==2.0.2
typing-extensions==4.4.0
branca==0.6.0
brotlipy==0.7.0
certifi
cffi==1.15.0
cryptography==37.0.1
folium==0.14.0
jinja2==3.1.2
markupsafe==2.1.2
numpy==1.24.2
pandas==1.5.3
psycopg2-binary
pysocks==1.7.1
python-dateutil==2.8.2
pytz==2022.7.1
pillow
rasterio
shapely
geopy
pyproj